/* https://github.com/BinaryHarbinger/Dotfiles/blob/main/wlogout/layout */

* {
    background-image: none;
    font-size: 20px;
}

window {
    background-color: rgba(17, 17, 17, 0.45)
}


button {
    border-radius: 0px;
    color: #bebebe;
    border-color: #bebebe;
    background-color: rgba(17, 17, 17, 0.781);
    outline-style: none;
    border-style: solid;
	border-width: 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:hover,button:focus {
    background-color: rgba(37, 37, 37, 0.541);
    background-size: 22%;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.1s linear;
}

#lock {
    border-top-left-radius: 15px;
    background-image: image(url("./assets/lock.svg"));
}

#logout {
    background-image: image(url("./assets/logout.svg"));
}

#suspend {
    border-top-right-radius: 15px;
    background-image: image(url("./assets/suspend.svg"));
}

#hibernate {
    border-bottom-left-radius: 15px;
    background-image: image(url("./assets/hibernate.svg"));
}

#shutdown {
    background-image: image(url("./assets/shutdown.svg"));
}

#reboot {
    border-bottom-right-radius: 15px;
    background-image: image(url("./assets/reboot.svg"));
}

#lock, #logout, #suspend {
    border-bottom: #bebebe solid 1px;
}

#hibernate,#shutdown,#reboot {
    border-top: #bebebe solid 1px;
}

#logout,#lock,#hibernate,#shutdown{
    border-right: #bebebe solid 1px;
}

#suspend,#shutdown,#logout,#reboot{
    border-left: #bebebe solid 1px;
}
